<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1024">
        <title>Blockforce Labs - Public Data</title>
	<link type="text/css" href="{{ url_for('static',filename='styles/plotly.css') }}" rel="stylesheet">
</head>
<body>
    <a href="/api/_download_GARCH"><button class="btn btn-success" tabindex="80">Download GARCH</button></a>
    {% include 'footer.html' %}
</body>

</html>

